<html><div class="login">
  <header class="login-header">
    <div>
      <img src="/img/logo_login_white.png" alt="Login White"/>
    </div>
  </header>

  <div class="login-container">
    <main class="login-main">
      <div class="login-main-form">
        <div class=login-main-image>
          <img src="/img/logo_app_icon.png" alt="App Icon"/>
          <img src="/img/logo_login_grey.png" alt="Login Grey"/>
        </div>
        <button [routerLink]="['/dashboard']" class="login-main-button">Login</button>
      </div>
    </main>
  </div>

  <footer class="login-footer">
    <div class="login-footer-content">
        <a>Privacy</a> <a>Terms & Conditions</a> <a>Imprint</a>
    </div>
  </footer>

</div>
</html>
